.menu2-list {
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  position: relative;
  padding: 0;
}

.menu2-list-item {
  margin: auto;
  width: 20%;
  height: 100%;
  align-items: center;
  margin-right: 20px;
  display: inline-block;
}

.menu2-link {
  color: black;
  text-align: center;
  display: inline-block;
  height: 60px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu2-link:hover, .menu2-link:focus{
  border: none;
  border-radius: 5px;
  color: blue;
  -webkit-box-shadow: -1px -1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 11px 0px rgba(0,0,0,0.75);
}

.menu2-describe{
  display: inline-block;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}

.part1{
  float: left;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}
.part1 img{
  width: 70%;
}
.part2{
  float: left;
  width: 50%;
  margin-top: 5%;
}
.part2 img{
  width: 90%;
}

